<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569101457121-rk3hr9di591fje7pf476p6pf38f3724u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569101457121-rk3hr9di591fje7pf476p6pf38f3724u</string>
	<key>API_KEY</key>
	<string>AIzaSyCYbB981U-GN5qPa4Viw7OwPZGn6hyQ9dA</string>
	<key>GCM_SENDER_ID</key>
	<string>569101457121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-df12d</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-df12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569101457121:ios:060a4833e3acf76bdb89a0</string>
</dict>
</plist>